body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-marcellus-sc: "Marcellus SC";
  --font-koulen: Koulen;
  --font-kufam: Kufam;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #848484;
  --color-gray-200: #112124;

  /* Border radiuses */
  --br-69xl: 88px;
}
